version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      PHONE_NUMBER: ${PHONE_NUMBER}
      RETELL_API_KEY: ${RETELL_API_KEY}
      RETELL_AGENT_ID: ${RETELL_AGENT_ID}
      TWILIO_ACCOUNT_ID: ${TWILIO_ACCOUNT_ID}
      TWILIO_AUTH_TOKEN: ${TWILIO_AUTH_TOKEN}
